//colors

$black: hsl(0, 0%, 15%);
$black-light:#334147;
$white: hsl(0, 0%, 98%)!default;

$default:hsl(0, 0%, 90%);
$primary: hsl(30, 75%, 50%);
$blue: hsl(210, 75%, 50%); 
$green: hsl(120, 45%, 40%); 
$red: hsl(360, 60%, 48%);
$pink:hsl(334, 83%, 51%);
$yellow:#FFCC33;
$grey:#9ba0a1;
$wine-red:#890803;
$wine-red-light:#F0240C;
$pink-dark:#d3596c;

//screen sizes
$mobile: 450px;
$tablet:750px;
$desktop: 972px;
$widescreen:1200px;

//font weights
$normal:400;
$bold:600;
$bolder:800;



